<div class="m-5 single-page-form-container">
  <div class="card col-12 col-md-6 m-auto">
    <h2 class="p-3"><%= t("site.new")%></h2>
    <div class="card-body">
      <%= form_with(model:@site, local: true) do |f| %>
        <% if @site.errors.any? %>
          <ul>
            <% @site.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="field form-group">
          <%= f.label :title, t("site.title")%>
          <%= f.text_field :title, placeholder: t("site.title_holder"), class:"form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :description, t("site.description") %>
          <%= f.text_area :description, placeholder: t("site.desc_holder"), class:"form-control", style:"min-height: 300px;" %>
        </div>

        <div class="actions">
          <%= f.submit t("site.submit"), class:"main-btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
